:root{
    --primary-color: #7D5A50;
    --secondary-color: #B4846C;
    --third-color: #E5B299;
    --contrast-color: #FCDEC0;
}

html{
    scroll-behavior: smooth;
}

body{    
    font-family: 'Raleway', sans-serif;
}

.oculto {
    display:none;
}


.botonera{
    font-family: 'Raleway', sans-serif;
    color: black;
}
.botonera .menu{    
    display: flex;
    flex-direction: row;
    position: relative;
    list-style: none;
    justify-content: center;
    padding: 20px;
}
.btn-header a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.7px;
    background: linear-gradient(to right,#7D5A50, #B4846C, #E5B299);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.7s ease-in-out;
}

.btn-header a:hover::before{
    transform:scaleX(1);
}

.btn-header a{
    color:var(--primary-color) !important;
    position: relative;
    font-weight: bolder;
}
.container li a{
    padding: 0 0.7rem 0 0.7rem;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

/* Botones d redes sociales en el header */ 
.right-container img{
    padding: 5px 5px 5px 20px ;
    width: 30px;;  
    fill: brown;  
}

/* fotos section */
.muestra-fotos .img-resposive{
    display:none;
}
.muestra-fotos .container{
    display: flex;
    justify-content: space-around;
}
.muestra-fotos .contain img{
    height: 300px;
    transition : all .6s ease;
    -webkit-transition:all .6s ease; /* Safari y Chrome */
    -moz-transition:all .6s ease; /* Firefox */
    -o-transition:all .6s ease; /* IE 9 */
    -ms-transition:all .6s ease; /* Opera */
    border-radius: 3%  !important;
}

.muestra-fotos .container img:hover{
    transform:scale(1.15);
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
}

/* Barra separadora  section */

.separacion {
    display: flex;
    justify-content: center;
}
.separacion img{
    padding: 40px;
    width: 50px;
    height: 50px;
    transition: .6s;
    margin: 0;

}

.separacion img:hover{
    transform: rotate3d(360deg);
    -ms-transform:rotate3d(360deg);
-moz-transform:rotate(360deg);
-webkit-transform:rotate(360deg);
-o-transform:rotate(360deg);
}


/* Clientes y estilo section */

.clientes h1{
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}
.clientes .col-md-4 img{
    width: 320px;
    height: 400px;
    border-radius: 3%;
}


.titulo-section{
    font-size: 48px;
    font-family: 'Quicksand', sans-serif;
}


.col-md-8 .btn-header{
    padding: 15px;
    border-radius: 3%;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
}

.col-md-8 a{
    text-decoration: none;
    background-color: var(--contrast-color);
    color: black !important;
}
/* Comodidad section */


.comodidad h1, .aprende h1{
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

#tendencias-scroll{
    border-radius: 3%;
    max-width: 240px;
}


.comodidad p{    
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 17px;
}


.aprende h1{
    padding: 15px;
}

.aprende img{
    max-width: 450px;
    border-radius: 5%;
}
.titulo-aprende{
    font-size: 41px;  
    font-family: 'Quicksand', sans-serif;
}

.texto-aprende p{
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

.especs{
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
}
